* {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.menu, nav {
    padding-top: 40px;
}

h1 {
    color: #D2872C;
    font-weight: bold;
    padding-left: 40px;
}

nav {
    position: absolute;
    top: 0;
    right: 50px;
    
}
nav li {
    display: inline;
    margin: 0 10px 0 20px;
    color: #766F68;
    font-size: 1.5em;
}

main {
    padding-top: 30px;
}

.texto {
    position: absolute;
    text-align: left;
    width: 50%;
    margin-left: 12%;
    
}
h2 {
    color: #766F68;
    font-size: 5em;
    font-weight: bold;
    margin: 0;
    
}
p {
    color: #766F68;
    font-size: 2em;
    margin-right: 20%;
}

button {
    background-color: #D2872C;
    color: white;
    font-size: 1.8em;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    padding: 20px 105px;
}
 .imagem{
     position: relative;
     width: 60%;
     float: right;
     background: url(./assets/team.jpg);
 }